@tailwind base;
@tailwind components;
@tailwind utilities;

.container-custom {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
    /* Responsive width */
    @media (min-width: 640px) {
      max-width: 640px;
    }
    
    @media (min-width: 768px) {
      max-width: 768px;
    }
    
    @media (min-width: 1024px) {
      max-width: 1024px;
    }
    
    /* You can add more breakpoints as needed */
  }
  